body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
}
h1{
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar{
    width: 2em;
}
::-webkit-scrollbar-track{
    background: chartreuse;
}
::-webkit-scrollbar-thumb{
    background: darkgreen;
    border-radius: 100vw;
} 